/*==== RESET =======================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*==== MENU =======================*/
.menu {
  max-width: 13.75rem;
  box-shadow: 1px 0px 5px black;
  position: absolute;
  left: 0;
  top: 0;
  height: 90.625rem;
}

.menu-slaca {
  width: 13.75rem;
  height: 4.25rem;
  background-color: #F0823E;
  display: inline-block;
  text-align: center;
  padding: 10%;
  color: white;
}

.menu-slaca-logo {
  width: 13.75rem;
  height: 16.125rem;
  padding-bottom: 10%;
  padding-top: 10%;
}

.grid {
  text-align: left;
}

.divider {
  height: 1px;
  background-color: #E7E7E7;
}

.menu-opcao {
  font-size: 0.938rem;
  font-family: 'Quicksand';
  font-size: 0.938rem;
  padding-left: 1.5rem;

  color: #725C5C;
}

li {
  margin-top: 0.438rem;
  margin-bottom: 0.438rem;
}

.titulo-menu {
  font: 700 1.875rem 'Roboto', sans-serif;
}

/*==== CABECALHO =======================*/
header {
  position: relative;
  /*left: 13.75rem;
  padding-right: 2rem;
  width: 100%;
  height: 4.25rem;*/
  margin-left: 13.75rem;
  background-color: #FDF1EB;
  max-height: 4.25rem;
}

.cabecalho-texto1 {
  padding-left: 2.25rem;
  padding-top: 0.313rem;
  padding-bottom: 0.125rem;
  color: #725C5C;
  font: 400 0.875rem 'Roboto', sans-serif;
}

.cabecalho-texto2 {
  padding-left: 2.25rem;
  color: #725C5C;
  font: 400 1.375rem 'Roboto', sans-serif;
}

.cabecalho-texto3 {
  position: relative;
  padding-left: 2.25rem;
  color: #725C5C;
  font: 400 0.875rem 'Roboto', sans-serif;
  display: inline-block;
  bottom: 0.8rem;
}

.cabecalho-idiomas {
  display: inline-block; 
  position: relative;
  /*
  left: 73rem;
  bottom: 1rem;
  */
  margin-left: 67rem;
  bottom: 2rem;
  border-style: groove;
  border-radius: 5px;
}

.icone-globo {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  margin-left: 0.563rem;

}

.icone-seta-baixo {
  position: relative;
  width: 0.5rem;
  height: 0.5rem;
  bottom: 0.30rem;
  margin-right: 0.813rem;

}

.idioma {
  position: relative;
  bottom: 0.5rem;
  font: 400 0.875rem 'Quicksand';
  vertical-align: middle;
  display: inline-block;
}

.login { 
  display: inline-block;
  position: relative;
  /*
  left: 83rem;
  bottom: -0.5rem;
  */
  margin-left: 87.4rem;
  bottom: 4rem;
}

.login-info {
  display: inline-block;
  position: absolute;
  text-align: right;
  font: 400 0.875rem 'Quicksand';
  color: #333333;
}

.perfil {
  position: relative;
  display: inline-block;
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  left: 13rem;
  bottom: 0.55rem;
}

.notificacao {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  left: 12rem;
  bottom: 2.5rem;
}

/*==== CORPO PAGINA =======================*/
.corpo-pagina {
  border-style: groove;
  position: relative;
  margin-left: 16.438rem;
  margin-top: 1.063rem;
  width: 101rem;
  height: 86.375rem;
}

.titulo-corpo {
  color: #ED7839;
  font: 900 2rem 'Roboto', sans-serif;
}

.video {
  width: 70rem;
  margin-top: 1.188rem;
}

.botao-download {
  position: relative;
  background-color: #ED7839;
  width: 12rem;
  height: 3rem;
  border-radius: 5px;
  border-color:  #ED7839;
  align-items: center;
  margin-left: 9.2rem;
  bottom: 43rem;
  border-style: none;
}

.icone-download {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-top: 0.1rem;
}

.download {
  display: inline-block;
  position: relative;
  font: 500 1.5rem 'Roboto', sans-serif;
  color: white;
  bottom: 0.5rem;
}

.botao-favoritar {
  position: relative;
  background-color: #ED7839;
  width: 4rem;
  height: 3rem;
  border-radius: 5px;
  border-color:  #ED7839;
  align-items: center;
  margin-left: 0.3rem;
  bottom: 43rem;
  border-style: none;
}

.icone-favoritar {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.botao-doi {
  position: relative;
  background-color: #ED7839;
  width: 4rem;
  height: 3rem;
  border-radius: 5px;
  border-color:  #ED7839;
  align-items: center;
  margin-left: 0.3rem;
  bottom: 43rem;
  border-style: none;
}

.icone-doi {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.citacao {
  position: absolute;
  left: 79rem;
  bottom: 81rem;
  color: #ED7839;
  font: 500 1.5rem 'Roboto', sans-serif;
  text-align: right;
}

.detalhes-trabalho {
  border-style: solid;
  position: absolute;
  width: 26rem;
  height: 34.228rem;
  left: 74.8rem;
  bottom: 40.95rem;
  border-radius: 3px;
  border-width: 1px;
  border-color: #ECECEC;  
  overflow-y: scroll;
  overflow-x: hidden;
}

.detalhes-trabalho::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #CCCCCC;
}

.detalhes-trabalho::-webkit-scrollbar-button {
  background: #E7E7E7;
}
.detalhes-trabalho::-webkit-scrollbar-track {
  background: #E7E7E7;
  
}
.detalhes-trabalho::-webkit-scrollbar-track-piece {
  background: #E7E7E7;
}
.detalhes-trabalho::-webkit-scrollbar-thumb {
  background: #BFBFBF;
  border-radius: 5px;
}
.detalhes-trabalho::-webkit-scrollbar-corner {
  background: #E7E7E7;
}

.detalhes-trabalho-painel {
  width: 26rem;
  height: 5rem;
  background-color: #FDF1EB;
  border-style: solid;
  border-color: #ECECEC;
  border-width: 1px;
  position: absolute;
  left: 74.8rem;
  bottom: 75.1rem;
}

.detalhes-trabalho-painel-texto {
  font: 500 2rem 'Roboto', sans-serif;
  color: #4E4E4E;
  padding-top: 1.1rem;
  padding-left: 1rem;
  text-align: left;
}

.detalhes-trabalho-texto {
  color: #5C5C5C;
  padding-left:0.5rem;
  font: 400 1.4rem 'Quicksand', sans-serif;
}

span {
  font-weight: bold;
}

.detalhes-trabalho-texto-customizado {
  font-weight: normal;
  color: #ADA0A0;
}

.resumo {
  position: absolute;
  margin-top: 1.875rem;
  height: 11.813rem;
  border-style: solid;
  border-color: #ECECEC;
  border-width: 1px;
}

.resumo-painel {
  background-color: #FDF1EB;
  height: 5rem;
  border-style: solid;
  border-color: #ECECEC;
  border-width: 1px;
}

.resumo-painel-texto {
  font: 500 2rem 'Roboto', sans-serif;
  color: #4E4E4E;
  padding-top: 1.1rem;
  padding-left: 1rem;
  text-align: left;
}

.resumo-texto{
  font: 400 1rem 'Quicksand', sans-serif;
  color: #5C5C5C;
  padding: 0.5rem;
}

.resumo-texto-completo{
  font: 400 1rem 'Quicksand', sans-serif;
  color: #5C5C5C;
  padding: 0.5rem;
  display: none;
}

#btn-ver-mais {
  position: absolute;
  left: 55rem;
  bottom: 1rem;
}

#btn-ver-menos {
  display: none;
  position: absolute;
  left: 18rem;
  bottom: 0.8rem;
}
